<% content_for :page_specific_javascript do %>
  <script type="text/javascript">


    $('#change_password').change(function() {
        if($(this).is(":checked")) {
          $('#passwordGroup').show();
        }else{
          $('#passwordGroup').hide();
        }
                
    });
    $('#passwordGroup').hide();


    </script>
<% end %>

<div class="container">
  
    <h2>
      Perfil
    </h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class: "form-horizontal"}) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :name, :class => "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= f.text_field :name, :class => "form-control", :placeholder => "Nombre"%>
           </div>

          <%= f.label :email, :class => "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= f.text_field :email, :class => "form-control", :placeholder => "Email"%>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :phone, :class => "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= f.text_field :phone, :class => "form-control", :placeholder => "Telefono"%>
          </div>
          
          <%= f.label :cellphone, :class => "col-sm-2 control-label" %>
          <div class="col-sm-4">
            <%= f.text_field :cellphone, :class => "form-control", :placeholder => "Celular"%>
          </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Cambiar Password</label>
            <div class="col-sm-1">
            <%= check_box_tag :change_password, "Cambiar", false, :id => "change_password" %>
             </div>
        </div>

        <div class="form-group" id="passwordGroup">
            <div class="form-group">
              <%= f.label :current_password, "Actual", :class => "col-sm-2 control-label" %>
              <div class="col-sm-4">
                <%= f.password_field :current_password, :class => "form-control", :placeholder => "Password Actual"%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password, "Nuevo", :class => "col-sm-2 control-label" %>
              <div class="col-sm-4">
                <%= f.password_field :password, :class => "form-control", :placeholder => "Nuevo Password"%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Repetir", :class => "col-sm-2 control-label" %>
              <div class="col-sm-4">
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Repetir Nuevo Password"%>
              </div>
            </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Actualizar", :class => "btn btn-default" %>
          </div>
        </div>
        
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>

    <% end %>
</div>