<%= form_tag buscar_path, id: "site_wide_search_form", class: "form-horizontal", method: :get do %>
  <div class="form-group">
			<%= label_tag "Articulo", "Articulo",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
				<%= select_tag "search_term", {}, {class: "form-control input-sm"} %>
	    </div>
			<%= label_tag "marca", "Marca",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
				<%= select_tag "search_term_marca", {}, {class: "form-control input-sm"} %>
	    </div>
			<%= label_tag "modelo", "Modelo",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
				<%= select_tag "search_term", {}, {class: "form-control input-sm"} %>
	    </div>
			<%= label_tag "tipo", "Tipo",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
				<%= select_tag "search_term", {}, {class: "form-control input-sm"} %>
	    </div>
			<%= label_tag "ciudad", "Ciudad",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
				<%= text_field_tag "ciudad", "", {class: "form-control input-sm", placeholder: "Ciudad"} %>
	    </div>
			<%= label_tag "precio", "Precio",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
				<%= text_field_tag "search_precio", "", {class: "form-control input-sm", placeholder: "Precio"} %>
	    </div>
   </div>
  
  
  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
			<%= submit_tag "Buscar", class: "btn btn-default"%>
    </div>
  </div>
	
<% end %>