<%= form_tag buscar_path, id: "site_wide_search_form", class: "form-horizontal", method: :get do %>
  <div class="form-group">
  		<%= label_tag "product", "Producto",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
	    	<%= select_tag "product", options_for_select(["bicicleta","motocicleta"]), {class: "form-control input-sm"} %>
	    </div>
		<%= label_tag "status", "Articulo",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
			<%= select_tag "status", {}, {class: "form-control input-sm"} %>
	    </div>
		<%= label_tag "brand", "Marca",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
			<%= select_tag "brand", {}, {class: "form-control input-sm"} %>
	    </div>
		<%= label_tag "model", "Modelo",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
			<%= select_tag "model", {}, {class: "form-control input-sm"} %>
	    </div>
		<%= label_tag "type", "Tipo",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
			<%= select_tag "type", {}, {class: "form-control input-sm"} %>
	    </div>
		<%= label_tag "city", "Ciudad",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
			<%= text_field_tag "city", "", {class: "form-control input-sm", placeholder: "Ciudad"} %>
	    </div>
		<%= label_tag "amount", "Precio",{class: "col-sm-3 control-label"} %>
	    <div class="col-sm-9">
			<%= text_field_tag "amount", "", {class: "form-control input-sm", placeholder: "Precio"} %>
	    </div>
   </div>
  
  
  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
			<%= submit_tag "Buscar", class: "btn btn-default"%>
    </div>
  </div>
	
<% end %>